body {
    background-color: azure;
    margin: 0;
    padding: 0;
}

.contacts {
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    background-color: whitesmoke;
    flex-direction: column;
}


.contactInfo {
    margin: 12px;
    border: 2px solid yellow;
    border-radius: 10px;
    background-color: white;
}

.contactInfo span{
    margin-right: 15px;
    margin-left: 5px;
}

.genderSpan {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: baseline;
}
